<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAMERAMEN</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name='robots' content='noindex, follow'/>
</head>
<body>
  <h1>CAMERAMEN</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label for="excelFile">Pilih File Excel:</label>
    <input type="file" name="excelFile" id="excelFile" accept=".xlsx" required>
    <button type="submit">Upload</button>
  </form>
</body>
</html>
